/**************************
GENERAL
**************************/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-indent: 0;
}

#wrapper {
  font-family: "Courier New", monospace;
  margin: 0 auto;
  padding: 0 5%;
  position:relative;
  background: url("yellow.JPG");
  background-attachment:fixed;
  background-size: cover;
  text-indent: 0;
}

#content {
  padding-bottom:100px;
  background-color: rgba(160, 160, 160, .85);
  font-size: 1.5em;
  padding: 10px 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

#me {
  display: block;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;
}

ul {
  list-style-type: none;
}


/**************************
HEADING
**************************/

#header {
  margin: 0 0 40px;
  padding: 1px;
  width: 100%;
  text-align: center;
  background-color: rgb(126, 126, 126);
  opacity: .9;
}

.name {
  margin: 20px 0 0;
  font-size: 4em;
  font-weight: normal;
  line-height: 0.8em;
}

#job {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  font-weight: normal;
}

#job img {
  vertical-align: -2px;
}

h2 {
  text-align: center;
  margin: -5px;
}

.go a {
  border-style: solid;
  border-width: 2px;
  padding: 3px 3px 0 4px;
}

.go img {
  vertical-align: -1px;
}


/**************************
NAVIGATION
**************************/

nav {
  text-align: center;
  margin: 10px;
  border-style: inset;
  box-shadow: 0px 20px 80px #222;
  font-weight: 800;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 5% 0;
}


/**************************
Footer
**************************/

#footer {
  background: rgb(126, 126, 126);
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  text-align: center;
  opacity: .8;
  text-indent: 0;
}

#footer img {
  vertical-align: -2px;
}

.logo {
  height: 16px;
  width: auto;
}


/**************************
PROJECT
**************************/
.project_pic {
  width: 90%;
  display: block;
  margin: auto;
  max-width: 600px;
}

#tiles {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}


/**************************
COLORS
**************************/

/* Links */
a, a:visited {
  color: #000;
}

a.selected, a:hover {
  color: #dd6a0a;
  width: 90%;
}

/* Nav Links */
nav a, nav a:visited {
  color: #ffe6b5;
}

nav a.selected, nav a:hover {
  color: #333;
}

#job strong {
  color: lightblue;
  font-size: 1.3em;
}
