{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<body>
  <div id="content">
  <img id="me" src="{% static 'tylerpeek.jpg' %}">
    <p><br>Hello, world.<br><br>
    I'm a software developer with a degree in psychology. I have minors in computer science, game development, philosophy, humanities and gender studies. I have work experience in the oilfield service industry. In 2014, I achieved my lifelong dream by biking across the United States. Seven thousand, four hundred miles through forty-eight states in one hundred eleven days. I just graduated the Python Development Accelerator at Code Fellows, and I am now pursuing a career in software development.</p><br>
  </div>
</body>
{% endblock %}
