{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<body>

<div id="content">
<div id="tiles">


<a href="http://sherlockengine.com/" target="_blank">
<h3>Sherlock Engine</h3>
<img class="project_pic" src="{% static 'brain.jpg' %}"></a>
<p>We can read your mind.
<a class="inline" href="https://github.com/tpeek/Answer-Prediction" target="_blank"><img class="logo inline" src="{% static 'git.png' %}"></a>
</p>
<br>
<a href="http://copynhaste.com/" target="_blank">
<h3>Copy N Haste</h3>
<img class="project_pic" src="{% static 'copy.jpg' %}"></a>
<p>A typing test for programmers.
<a class="inline" href="https://github.com/tpeek/copy-n-haste" target="_blank"><img class="logo inline" src="{% static 'git.png' %}"></a>
</p>
</div>
</div>
</body>
{% endblock %}